* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 80px;
    background-color: black;
    /* color: white; */
    display: flex;
}

.heading img {
    width: 150px;
    height: 80px;
    margin-left: 80px;
    padding-top: 4px;
}

.container a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
}

.container .content {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 50px;
    margin-right: 100px;
    font-family: 'Bebas Neue', cursive;
}


/* -----------------------main1------------------- */

.main1 {
    width: 100%;
    height: 600px;
    display: flex;
    background: linear-gradient(120deg, #1DB954, #191414);
}

.main1 .mobile img {
    width: 300px;
    height: 480px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 120px;
    margin-left: 220px;
}

.main1 .para {
    display: inline-block;
    margin-left: 80px;
    margin-top: 160px;
    width: 100%;
    height: 200px;
    font-size: 60px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-weight: bolder;
}

.para button {
    margin-top: 40px;
    width: 220px;
    height: 60px;
    border-radius: 30px;
    font-size: large;
    font-weight: 600;
    /* padding: 20px; */
}

.para button:hover {
    background-color: red;
    color: white;
}


/* -------------------main2---------------------------- */

.main2 {
    width: 100%;
    height: 1080px;
    /* background-image: linear-gradient(to right, #DECBA4, #3E5151); */
    background-color: aliceblue;
}

.box {
    margin-left: 44%;
    justify-content: space-evenly;
    padding-top: 10px;
}

.box1 {
    padding-top: 40px;
}

.box2 {
    padding-top: 40px;
}

.box3 {
    padding-top: 40px;
}

.box img {
    width: 200px;
    height: 180px;
    border-radius: 10%;
}

.head {
    text-align: center;
    font-size: larger;
    padding-top: 80px;
    font-size: x-large;
    font-family: 'Patrick Hand', cursive;
    /* color: white; */
}

h2 {
    margin-left: -40px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    font-size: 30px;
}

.box p {
    margin-top: 10px;
    margin-left: -200px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: larger;
}


/* ----------------------------------------main3--------------------------------------- */

.main3 {
    width: 100%;
    height: 400px;
    background: linear-gradient(#e66465, #9198e5);
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'Pangolin', cursive;
    color: whitesmoke;
}


/* -------------------------------------------------main4------------------------------------ */

.main4 {
    width: 100%;
    height: 400px;
    background: linear-gradient(#e66465, #9198e5);
    font-size: xx-large;
    font-family: 'Pangolin', cursive;
    color: whitesmoke;
}

.ready {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    width: 150px;
    height: 40px;
    margin-top: 40px;
    margin-left: 600px;
    border-radius: 30px;
}

.button button:hover {
    background-color: #2c3e50;
    color: whitesmoke;
}


/* ----------------------------footer-------------------------------- */

.foot {
    /*

    background-color: #191414; */
    /* display: flex; */
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: black;
    color: white;
}

.item1 .logo {
    width: 180px;
    height: 100px;
}

.foot .first {
    color: #2c3e50;
    font-size: 20px;
    padding-top: 40px;
}

ul li {
    padding-top: 12px;
}

ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}

ul li a:hover {
    color: #1DB954;
    /* text-decoration: none; */
}

.items5 ul li {
    display: inline-block;
    margin: 4px;
}